<%# to comment in ejs file use "#" or "/* */" %>
<%# output data with equal sign %>

<% include partials/header.ejs %>
<br/>
Name: <%= person %>
<br/>
Age: <%= data.age %>
<br/>
Job: <%= data.job %>
<br/>

<%# output javascript without equal sign %>
<% data.hobbies.forEach(function(item){ %>
    <li><%= item %></li>
<% }); %>
